@import './src/styles/toastify.css';
@import './src/styles/header.css';
@import './src/styles/content.css';
@import './src/styles/footer.css';

:root {
  /* Background Color */
  --background-primary: #141414;
  --background-secondary: #0e141cff;
  --background-form: #071c2a;
  --summary-background: black;

  /* Text Color */
  --text-primary: #ffffff;
  --text-secondary: #d6ea2eff;
  --text-summary: #a5a5a5;

  /* Borders */
  --border-color: #ffffff;
  --difuminated-border: 0.0625rem solid rgba(43, 43, 43, 0.568);

  /* Buttoms */
  --button-text-color: #3c430cff;
  --button-background: #d6ea2eff;
  --button-secondary-background: #ffffff;
  --hover-states: #eafe63;

  /* Typography */
  --font-family-primary: 'Space Grotesk', sans-serif;
  --font-family-secondary: 'Inter', sans-serif;
  --text-xl: 3.25rem;
  --text-lg: 3rem;
  --text-md: 2.625rem;
  --text-sm: 1.5rem;
  --skills-title: 1.5rem;

  /* Icons */
  --icons: 1.5rem;
  --icons-color: white;

  /* Difuminates */
  --difuminated-background-color: rgba(255, 255, 255, 0.073);
  --difuminated-backdrop-filter: blur(0.625rem);
}

* {
  margin: 0;
}

body {
  background-color: var(--background-primary);
  font-family: var(--font-family-secondary);
}
