
.content {
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-primary);
  
    .skills {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
      gap: 1.25rem;
      max-width: 75rem;
      width: 100%;
      border-radius: 0.3125rem;
      margin-bottom: 3.125rem;
  
      &__card {
        position: relative;
        padding: 1.25rem;
        border-radius: 0.625rem;
        overflow: hidden;
        min-width: 17.5rem;
        max-width: 100%;
        background-color: var(--difuminated-background-color);
        backdrop-filter: var(--difuminated-backdrop-filter);
        border: var(--difuminated-border);
      }
  
      &__card-background {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: var(--text-lg);
        font-weight: bold;
        color: rgba(255, 255, 255, 0.071);
        white-space: nowrap;
        font-family: var(--font-family-primary);
      }
  
      &__title {
        position: relative;
        font-size: var(--skills-title);
        font-weight: bold;
        margin-bottom: 0.625rem;
        font-family: var(--font-family-primary);
      }
  
      &__experience {
        position: relative;
        color: var(--text-primary);
        font-family: var(--font-family-secondary);
      }
  
      @media (min-width: 1200px) {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        width: 50rem;
        align-self: center;
        background-color: none;
        box-shadow: none;
        backdrop-filter: none;
        border: none;
      }
    }
  
    .portfolio {
      display: grid;
      justify-content: center;
      align-items: center;
      background-color: var(--background-primary);
  
      &__title-container {
        display: flex;
        justify-content: space-between;
      }
  
      &__title {
        font-size: var(--text-md);
        color: var(--text-primary);
        font-family: var(--font-family-primary);
        margin-bottom: 3.125rem;
      }
  
      &__projects {
        display: grid;
        justify-content: center;
        gap: 1.5rem;
      }
  
      &__image {
        width: 100%;
        max-width: auto;
        height: auto;
        border: var(--difuminated-border);
        transition: filter 0.3s ease;
        border-radius: 0.5rem 0.5rem 0 0;
      }
  
      &__previews {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -70%);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
      }
  
      &__project {
        background-color: var(--background-secondary);
        height: fit-content;
        border: var(--difuminated-border);
        position: relative;
        cursor: pointer;
        border-radius: 0.5rem;
  
        &:hover .portfolio__previews {
          opacity: 1;
          pointer-events: all;
        }
  
        &:hover .portfolio__image {
          filter: brightness(0.3);
        }
  
        &:hover .portfolio__preview-link {
          opacity: 1;
        }
      }
  
      &__preview-link {
        text-transform: uppercase;
        letter-spacing: 0.14rem;
        font-family: var(--font-family-secondary);
        height: 2.5rem;
        text-decoration: none;
        color: var(--text-primary);
        opacity: 0;
        transition: opacity 0.3s ease;
        margin-bottom: 0.9375rem;
  
        &:hover {
          color: var(--hover-states);
        }
      }
  
      &__skills {
        display: flex;
        flex-direction: column;
        gap: 1.125rem;
        color: var(--text-primary);
        font-family: var(--font-family-primary);
        padding: 0.625rem;
      }
  
      @media (min-width: 768px) {
        &__projects {
          grid-template-columns: repeat(2, 1fr);
        }
      }
  
      @media (min-width: 1024px) {
        &__projects {
          grid-template-columns: repeat(2, 1fr);
          width: 50rem;
        }
  
        &-container,
        &__image {
          width: 100%;
          height: auto;
        }
      }
    }
  
    .contact {
      padding: 1.25rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: var(--background-secondary);
      font-family: var(--font-family-primary);
      width: 100%;
      margin-top: 6.25rem;
  
      &__title {
        color: var(--text-primary);
        margin-bottom: 0.625rem;
        font-size: var(--text-md);
      }
  
      &__subtitle {
        color: var(--text-secondary);
        margin-bottom: 1.25rem;
      }
  
      &__info {
        text-align: center;
        margin-bottom: 1.875rem;
      }
  
      &__details {
        color: var(--text-primary);
      }
  
      &__icon {
        color: var(--icons-color);
      }
  
      &__button {
        all: unset;
        cursor: pointer;
        margin-left: 0.14rem;
      }
  
      &__form {
        width: 100%;
        background-color: var(--background-form);
        border-radius: 0.625rem;
        padding: 1rem;
      }
  
      &__legend {
        margin-bottom: 1.25rem;
      }
  
      &__field {
        margin-bottom: 1.5rem;
        display: flex;
      }
  
      &__field--interests {
        display: flex;
        flex-direction: column;
      }
  
      &__input,
      &__textarea {
        width: 100%;
        padding: 0.625rem;
        border-radius: 0.3125rem;
        border: 0.0625rem solid var(--border-color);
        background-color: transparent;
        color: var(--text-primary);
        font-family: var(--font-family-primary);
        outline: none;
  
        &::placeholder {
          font-family: var(--font-family-primary);
        }
      }
  
      &__textarea {
        height: 6.25rem;
        resize: none;
      }
  
      &__submit-button {
        padding: 0.625rem 1.25rem;
        border: none;
        border-radius: 0.3125rem;
        cursor: pointer;
        font-family: var(--font-family-primary);
        margin-left: auto;
        position: relative;
        top: 1.25rem;
        font-weight: bold;
        transition: transform 0.3s ease;
  
        &:hover {
          background-color: var(--hover-states);
          transform: scale(1.1);
        }
      }
  
      @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        gap: 9.375rem;
  
        &__details {
          width: max-content;
        }
  
        &__info {
          text-align: left;
        }
  
        &__form {
          max-width: 50%;
          margin: 6.25rem 0;
        }
      }
  
      @media (min-width: 1024px) {
        &__title {
          font-size: var(--text-md);
        }
  
        &__info {
          margin-left: auto;
        }
  
        &__subtitle {
          font-size: 2rem;
        }
  
        &__form {
          max-width: 28.125rem;
          padding: 1.875rem;
          margin-right: auto;
        }
  
        &__submit-button {
          font-size: var(--text-sm);
        }
      }
    }
  
    .about {
      text-align: center;
      padding: 1.25rem;
      width: 100%;
      max-width: 37.5rem;
      font-family: var(--font-family-primary);
      margin-top: 3.125rem;
  
      &__title {
        font-size: var(--text-md);
        font-weight: bold;
        letter-spacing: 0.125rem;
        color: var(--text-primary);
  
        @media (min-width: 768px) {
          margin: 0 3.125rem;
        }
      }
  
      &__content {
        background-color: var(--summary-background);
        padding: 1.875rem;
        border-radius: 1.875rem;
        box-shadow: 0 0.5rem 1.875rem rgba(0, 0, 0, 0.5);
        border: 0.0625rem solid var(--border-color);
        margin-top: 3.125rem;
      }
  
      &__item {
        padding: 0.9375rem 0;
        margin: 0 0.9375rem;
        border-bottom: 0.0625rem solid var(--border-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
  
        &:last-child {
          border-bottom: none;
        }
  
        &--open[open] {
          .about__icon {
            background-color: var(--background-primary);
            color: var(--text-primary);
            transform: rotate(180deg);
          }
  
          .about__icon-fa::before {
            content: '\f068';
          }
  
          .about__answer {
            opacity: 1;
            max-height: 18.75rem;
          }
        }
      }
  
      &__question {
        font-weight: bold;
        cursor: pointer;
        display: flex;
        align-items: center;
        text-align: left;
        justify-content: space-between;
        color: var(--text-primary);
        flex: 1;
      }
  
      &__icon {
        background-color: var(--background-primary);
        border-radius: 50%;
        border: 0.0625rem solid var(--border-color);
        width: 2.1875rem;
        height: 2.1875rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
        flex-shrink: 0;
      }
  
      &__icon-fa {
        line-height: 0;
      }
  
      &__answer {
        margin: 0.9375reFm 0 0.625rem 0;
        line-height: 1.5625rem;
        color: var(--text-summary);
        text-align: left;
        max-height: 0;
        overflow: hidden;
        transition: max-height 1.5s ease, opacity 1.5s ease;
        opacity: 0;
      }
    }
  
    @media (min-width: 1200px) {
      .content {
        backdrop-filter: none;
      }
    }
  }