.footer {
  position: relative;
  color: var(--text-primary);
  text-align: center;
  padding: 3rem 1rem;
  font-family: var(--font-family-primary);

  &__container {
    max-width: 75rem;
    margin: 0 auto;
  }

  &__title {
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  &__social {
    margin: 1rem 0;

    &-link {
      text-decoration: none;
      margin: 0 0.625rem;
      transition: transform 0.3s ease;
      display: inline-block;

      &:hover {
        transform: scale(1.2);
      }

      &--linkedin .footer__icon {
        font-size: var(--icons);
        color: var(--icons-color);
      }

      &--github .footer__icon {
        font-size: var(--icons);
        color: var(--icons-color);
      }
    }
  }

  &__text {
    margin: 0.5rem 0;
  }

  &__link {
    color: var(--text-secondary);
    text-decoration: none;

    &:hover {
      color: var(--hover-states);
    }
  }
}
